/* Header Starts Here */

.logo__image {
  width: 21rem;
  height: 5rem;
}

.navbar-menu__link {
  margin-left: 5rem;
}

/* Hero Section Starts Here */

.hero-section {
  min-height: 80vh;
}

.hero-section-content {
  padding: 10rem 0 0 6rem;
}

.hero-section-content__title {
  font-size: 8rem;
}

.hero-section-content__description {
  font-size: 2rem;
  width: 45rem;
  margin: 5rem 0 7rem 0;
}

.hero-section-contect__button {
  width: 40rem;
  height: 5rem;
  border-radius: 3rem;
}

/* Hero Section End Here */

/* Header End Here */
.-item-box {
  padding: 15rem 0 5rem 2rem;
}

/* Section-3 Starts Here */

.section-3-box-1__para {
  width: 80%;
  margin: 0 auto;
  column-gap: 50rem;
}

.section-3-cards {
  width: 11%;
}

/* Section-3 End Here */

.section-6 {
  padding: 10% 0;
}

.section-6-content__title {
  font-size: 6rem;
}

.section-6-content__para {
  font-size: 2.8rem;
  padding: 3rem 0 5rem 0;
}

.section-6-button__input {
  padding: 0 1rem;
  height: 6rem;
  border-radius: 2.8rem;
  padding: 0 6.5rem 0 3.5rem;
  font-size: 2rem;
}

.section-6-button__button {
  height: 6rem;
  border-radius: 2.8rem;
}

.section-3-card {
  column-gap: 15rem;
}

.section-3-cards {
  width: 100%;
}

/*Section 3 End Here*/

/*Footer Starts Here*/

.footer-list {
  display: flex;
  row-gap: 2rem;
}

.footer-main {
  font-size: 3rem;
}

.footer-main__para {
  font-size: 2rem;
}

.contact-logo-list__list--link {
  padding: 10%;
  font-size: 3rem;
}

.footer-list__link {
  font-size: 2rem;
}

.footer-list:last-child {
  margin-top: 10%;
}

/*Footer End Here*/
